*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse project files
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# IDEA project files
*.iml
.idea

# Locally stored "Eclipse launch configurations"
*.launch

# do not exclude libs

!lib/*
!resources/*

# ignore compiled javadoc

doc/javadoc/
/target/
